/* @import '../../../node_modules/react-datepicker/src/stylesheets/datepicker.scss'; */

.tablequery-container {
    height: 90vh;
}

.test1 {
    /* background-color: red; */
    float: left;
    padding-top: 30vh;
    /* padding-bottom: 40vh; */
    text-align: center;
    width: 30%;
}

.test2 {
    background-color: blue;
    float: right;
    width: 70%;
}

.userTableDetails {
    background-color: white;
    border: 1px solid black;
    font-size: 1em;
    display: flex;
    margin: 0 auto;
    width: 68%;
    /* min-width: fit-content; */
    /* max-width: max-content; */
    /* height: 1%; */
    height: min-content;
}

.userTableButton {
    font-size: 0.5em;
    display: inline-block;
    transform: scale(1.1);
    margin: 0 auto;
    margin-top: 5%;
    padding: 1%;
}

.inputLabel {
    background-color: rgb(247, 247, 247);
    border-right: 1px solid black;
    display: table-cell;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30%;
}

.userTableButton {
    font-size: 0.5em;
    padding-top: 5%;
    padding-bottom: 5%;
}

.userTableInput {
    float: right;
    font-size: 14px;
    /* width: 68.5%; */
    width: max-content;
    height: 30px;
    justify-content: center;
    display: flex;
}

.userTableInputField {
    border: none;
    float: left;
    width: fit-content;
    outline: none;
}

.test2 {
    background-image: url("https://th.bing.com/th/id/R.3b4aa9f05558753eae1f070babb68fb1?rik=%2bDZHJRpGTr8D5w&riu=http%3a%2f%2fwww.publicdomainpictures.net%2fpictures%2f200000%2fvelka%2frestaurant-14744452374ck.jpg&ehk=HBjN5YzksHxHjH0PAhlucPL5y1%2fGlgrchGuwJK9xhNs%3d&risl=&pid=ImgRaw&r=0");
    background-size: cover;
    height: 90vh;
}

.restaurant-title {
    font-size: 2em;
    font-weight: bold;
}

.restaurant-subbody {
    font-size: 1.1em;
    font-weight: bold;
    padding: 5%
}

.userTableInput-error {
    color: red;
}