.history-table-button {
    margin-top: 3%;
}

.table-columns {
    float: left;
    font-size: 1.1em;
    font-weight: lighter;
    width: 33%;
}

.table-columns-title {
    float: left;
    font-size: 1.1em;
    font-weight: bold;
    width: 33%;
}

.reserved-tables-date {
    font-size: 2em;
    font-weight: bolder;
}

.reserved-tables-display {
    border: 1px lightgrey solid;
    margin: 0 auto;
    margin-top: 3%;
    padding: 2%;
    width: 50%;
}

.reserved-tables-title {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 1%;
}