.signin-container {
    padding: 25vh;
}

.signin-title {
    font-size: 2em;
    margin-bottom: 5vh;
}

.signin-input {
    height: 25px;
    margin-bottom: 5vh;
    width: 50%;
}

.signin-input-label {
    text-align: left;
}

.signin-button {
    font-size: 1em;
    height: 35px;
    width: 25%;
}

.signin-link {
    text-decoration: none;
}