.cart-cell {
    background-color: grey;
    color: white;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 0.5%;
    padding: 0.5%;
}

.leftside {
    /* border: 1px solid red; */
    float: left;
    height: 90vh;
    width: 50%;
}

.rightside {
    background-color: lightgray;
    /* border: 1px solid blue; */
    float: left;
    height: 90vh;
    width: 49%;
}

.tables-container {
    /* border: 1px solid yellow; */
    height: 60%;
    margin: 0 auto;
    margin-top: 10%;
    padding: 10%;
    width: 80%;
}

.tables-columns {
    /* border: 1px solid black; */
    display: flex;
    float: left;
    height: 25%;
    text-align: center;
    vertical-align: middle;
    width: 49%;
}

.table-option {
    align-items: center;
    border: 1px solid black;
    display: flex;
    height: 80%;
    margin: auto;
    justify-content: center;
    vertical-align: middle;
    width: 90%;
}

.table-option:hover {
    border: 1px solid blue;
}

.table-non-option {
    align-items: center;
    background-color: lightgrey;
    border: 1px solid black;
    display: flex;
    height: 80%;
    margin: auto;
    justify-content: center;
    vertical-align: middle;
    width: 90%;
}

.table-title {
    font-size: 1.1em;
}

.table-combination {
    align-items: center;
    background-color: lightgreen;
    border: 1px solid green;
    display: flex;
    height: 80%;
    margin: auto;
    justify-content: center;
    vertical-align: middle;
    width: 90%;
}

.table-selected {
    align-items: center;
    background-color: lightskyblue;
    border: 1px solid blue;
    display: flex;
    height: 80%;
    margin: auto;
    justify-content: center;
    vertical-align: middle;
    width: 90%;
}

.table-invalid {
    align-items: center;
    background-color: red;
    border: 1px solid maroon;
    display: flex;
    height: 80%;
    margin: auto;
    justify-content: center;
    vertical-align: middle;
    width: 90%;
}

.table-details {
    /* border: 1px solid red; */
    height: 49%;
}

.test-fuck {
    position: absolute;
    top: 25%;
    width: 50%;
}

