.createaccount-title {
    margin: 5vh;
}

.createaccount-input {
    width: 70%;
}

.createaccount-row {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    width: 50;
}

.createaccount-row1 {
    border: 1px solid red;
    width: 50%;
}

.input-error {
    color: red;
    float: left;
    text-align: left;
    width: 50%;
}

.input-label {
    /* border: 1px solid orange; */
    text-align: left;
    float: left;
    width: 50%;
}

.input-column {
    display: inline-flex;
    /* border: 1px solid orange; */
    width: 50%;
}